<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAv5gbkvE4c8H2fa0wNxWz6z_ofHexihfM</string>
	<key>GCM_SENDER_ID</key>
	<string>894713125300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixdevs.podong6</string>
	<key>PROJECT_ID</key>
	<string>podongpodong-696db</string>
	<key>STORAGE_BUCKET</key>
	<string>podongpodong-696db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894713125300:ios:c1641537ec826854e8bae1</string>
</dict>
</plist>